<!-- templates/todo/tasklist.html -->


<p>{{ request.user }}</p>
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<h1>My To Do List</h1>
<form action="" method="get">
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value="Search Task">
</form>

<form id="delete-tasks-form" method="post" action="{% url 'delete_multiple_tasks' %}">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Select</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            {% for task in page_obj %}
            <tr>
                <td><input type="checkbox" name="task_ids" value="{{ task.id }}"></td>
                <td>{{ task.title }}</td>
                <td><a href="{% url 'taskdetail' task.id %}">View</a></td>
                <td><a href="{% url 'task-create' %}">Add</a></td>
                <td><a href="{% url 'tasks-update' task.id %}">Update</a></td>
                <td><a href="{% url 'tasks-delete' task.id %}">Delete</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">
                    <h3>No items in list</h3>
                    <a href="{% url 'task-create' %}">Add a new item</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Xóa các nhiệm vụ đã chọn</button>
</form>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
